{% extends '::base.html.twig' %}

{% block title %}Personalización - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
        output='css/selectspersonalizacion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts '@PersonalizacionBundle/Resources/public/js/*' output='js/personalizacion/personalizacion.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type="radio"]').click(function(){
                //accesorios
                if($(this).attr("value")=="botones"){
                    $(".botones").show();
                    $(".index").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="bolsillos"){
                    $(".bolsillos").show();
                    $(".index").hide();
                    $(".botones").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="larguras"){
                    $(".larguras").show();
                    $(".index").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="mangas"){
                    $(".mangas").show();
                    $(".index").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="lazos"){
                    $(".lazos").show();
                    $(".index").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="dibujos"){
                    $(".dibujos").show();
                    $(".index").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                //colores
                if($(this).attr("value")=="azul"){
                    $(".azul").show();
                    $(".index").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="rojo"){
                    $(".rojo").show();
                    $(".index").hide();
                    $(".azul").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="verde"){
                    $(".verde").show();
                    $(".index").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="blanco"){
                    $(".blanco").show();
                    $(".index").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="naranja"){
                    $(".naranja").show();
                    $(".index").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".blanco").hide();
                    $(".verde").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="rosa"){
                    $(".rosa").show();
                    $(".index").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".marron").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                if($(this).attr("value")=="marron"){
                    $(".marron").show();
                    $(".index").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".blanco").hide();
                    $(".verde").hide();
                    $(".rosa").hide();
                    $(".naranja").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
                //accesorios + colores
                if($(this).attr("value")=="botones_rosa"){
                    $(".botones_rosa").show();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="botones_azul"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").show();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="bolsillos_rosa"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").show();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="mangas_rosa"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").show();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="larguras_verde"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").show();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="mangas_lazos"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").show();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="bolsillos_verde"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").show();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="bolsillos_mangas"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").show();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="dibujos_azul"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").show();
                    $(".larguras_azul").hide();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                if($(this).attr("value")=="larguras_azul"){
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").show();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".index").hide();
                }
                //index
                if($(this).attr("value")=="index"){
                    $(".index").show();
                    $(".botones").hide();
                    $(".bolsillos").hide();
                    $(".larguras").hide();
                    $(".mangas").hide();
                    $(".lazos").hide();
                    $(".dibujos").hide();
                    $(".azul").hide();
                    $(".rojo").hide();
                    $(".verde").hide();
                    $(".blanco").hide();
                    $(".naranja").hide();
                    $(".rosa").hide();
                    $(".marron").hide();
                    $(".botones_rosa").hide();
                    $(".botones_azul").hide();
                    $(".bolsillos_rosa").hide();
                    $(".mangas_rosa").hide();
                    $(".larguras_verde").hide();
                    $(".mangas_lazos").hide();
                    $(".bolsillos_verde").hide();
                    $(".bolsillos_mangas").hide();
                    $(".dibujos_azul").hide();
                    $(".larguras_azul").hide();
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">
        {% if name == "nina" %}
            <div id="menu">
                {% include ':includes:selectspersonalizacion_nina.html.twig' %}
                <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
            </div>
        {%  else %}
            <div id="menu">
                {% include ':includes:selectspersonalizacion_nino.html.twig' %}
                <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
            </div>
        {% endif %}
        <div class="main">
            {% include ':includes:selectspersonalizacion.html.twig' %}
        </div>

        {% include ':includes:selectsform_personalizacion.html.twig' %}

    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}