{% extends '::base.html.twig' %}

{% block title %}Personalización - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
        output='css/selectspersonalizacion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts '@PersonalizacionBundle/Resources/public/js/*' output='js/personalizacion/personalizacion.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                if($(this).attr("value")=="botones"){
                    $(".botones").toggle();
                    $(".index").toggle();
                }
                if($(this).attr("value")=="bolsillos"){
                    $(".bolsillos").toggle();
                    $(".index").toggle();
                }
                if($(this).attr("value")=="cremallera"){
                    $(".cremallera").toggle();
                    $(".index").toggle();
                }
                if($(this).attr("value")=="cuellos"){
                    $(".cuellos").toggle();
                    $(".index").toggle();
                }
                if($(this).attr("value")=="larguras"){
                    $(".larguras").toggle();
                    $(".index").toggle();
                }
                if($(this).attr("value")=="mangas"){
                    $(".mangas").toggle();
                    $(".index").toggle();
                }
            });
        });
    </script>

{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">
        {% if name == "nina" %}
            <div id="menu">
                {% include ':includes:selectspersonalizacion_nina.html.twig' %}
                <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
            </div>
        {%  else %}
            <div id="menu">
                {% include ':includes:selectspersonalizacion_nino.html.twig' %}
                <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
            </div>
        {% endif %}
        <div class="main">
            {% include ':includes:selectspersonalizacion.html.twig' %}
        </div>

        {% include ':includes:selectsform_personalizacion.html.twig' %}

    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}