{% extends '::base.html.twig' %}

{% block title %}Personalización - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
                   '@WebBundle/Resources/public/css/frontend.css'
                   '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
        output='css/personalizacion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">
        {% if name == "nina" %}
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#">Abrigos</a></li>
                <li><a href="#">Bañadores</a></li>
                <li><a href="#">Batas</a></li>
                <li><a href="#">Blusas</a></li>
                <li><a href="#">Camisas</a></li>
                <li><a href="#">Camisetas</a></li>
                <li><a href="#">Faldas</a></li>
                <li><a href="#">Jerseis</a></li>
                <li><a href="#">Pantalones</a></li>
                <li><a href="#">Pijamas</a></li>
                <li><a href="#">Vestidos</a></li>
                <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
            </ul>
        </div>
        {%  else %}
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#">Abrigos</a></li>
                <li><a href="#">Bañadores</a></li>
                <li><a href="#">Batas</a></li>
                <li><a href="#">Camisas</a></li>
                <li><a href="#">Camisetas / Polos</a></li>
                <li><a href="#">Chalecos</a></li>
                <li><a href="#">Jerseis</a></li>
                <li><a href="#">Pantalones</a></li>
                <li><a href="#">Pijamas</a></li>
                <!-- incluir otro apartado para complementos: calcetines, gorros -->
            </ul>
        </div>
        {% endif %}
        <div id="main">
            <p>Texto de <strong>prueba</strong>.</p>
        </div>
        <!-- incluir otro menu select para ropa mostrar en dibujo de main -->
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}