{% extends '::base.html.twig' %}

{% block title %}Personalización - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
                   '@WebBundle/Resources/public/css/frontend.css'
                   '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
        output='css/personalizacion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenido">
        {% if name == "nina" %}
        <div id="menu">
            {% include ':includes:selectspersonalizacion_nina.html.twig' %}
        </div>
        <div id="main">
            {% image output="images/personalizacion/nina.png"
            '@PersonalizacionBundle/Resources/public/images/nina.png'
            %}
            <img src="{{ asset_url }}" alt=""/>
            {% endimage %}
        </div>
        {%  else %}
        <div id="menu">
            {% include ':includes:selectspersonalizacion_nino.html.twig' %}
        </div>
        <div id="main">
            {% image output="images/personalizacion/nino.png"
            '@PersonalizacionBundle/Resources/public/images/nino.png'
            %}
            <img src="{{ asset_url }}" alt=""/>
            {% endimage %}
        </div>
        {% endif %}
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}