{% extends '::base.html.twig' %}

{% block title %}Personalización - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
                   '@WebBundle/Resources/public/css/frontend.css'
                   '@PersonalizacionBundle/Resources/public/css/personalizacion.css'
        output='css/personalizacion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenido">
        {% if name == "nina" %}
        <div id="menu">
            {% include ':includes:selectspersonalizacion_nina.html.twig' %}
            <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
        </div>
        {%  else %}
        <div id="menu">
            {% include ':includes:selectspersonalizacion_nino.html.twig' %}
            <!-- incluir otro apartado para complementos: calcetines, leotardos, gorros -->
        </div>
        {% endif %}
        <div id="main">
            <!-- INCLUIR MENU CON TODAS LAS FOTOS DE LOS ARTICULOS DISPONIBLES EN NIÑA Y NIÑO SEPARADO -->
            <p>Texto de <strong>prueba</strong>.</p>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}