body {
    margin: 0;
}

p {
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 25px;
}

a {
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    font-size: 20px;
    color: rgba(0,0,0,.8);
}

a:hover {
    font-weight:bold;
}

ul {
    list-style-type: none;
}

ul a {
    display: block;
    padding-right: 32px;
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
}

h1 a {
    text-decoration: none;
}

h2 {
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 24px;
}

h1 {
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 32px;
}

#menu1 input[type="submit"]
{
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 300;
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    background: none;
    cursor: pointer;
}

#menu1 input[type="submit"]:hover
{
    font-weight: bold;
}

#contenido
{
    position: absolute;
    top: 18em;
    width: auto;
    float: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8em;
}

#menu1
{
    /* position: absolute; */
    position: fixed;
    top: 0.8em;
    right: 0;
    z-index: 999;
}

#menu1 ul
{
    display: inline-block;
}

#menu1 li
{
    display: block;
    float: left;
    text-align: center;
    border-right: 1px solid #9B9A9A;
}

#menu1 li a, #menu1 li span
{
    padding: 0.25em 1.5em;
    text-decoration: none;
    font-weight: 300;
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    font-size: 12px;
}

#menu1 a:hover
{
    text-decoration: none;
    font-weight:bold;
}

#menu1 li:last-child {
    border-right:none;
}

#menu2
{
    position: absolute;
    top: 5em;
    right: 0;
    padding-right: 20px;
}

#menu2 ul
{
    display: inline-block;
}

#menu2 li
{
    display: block;
    float: left;
    text-align: center;
}

#menu2 li a, #menu2 li span
{
    padding: 1em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0,0,0,1);
    font-size: 24px;
}

#menu2 a:hover
{
    color: #FFF;
}

#footer
{
    /* border-top: 1px solid rgba(0,0,0,0.5); */
}

#footer p a
{
    letter-spacing: 0.50em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(0,0,0,0.6);
    bottom: 1.8em;
    position: fixed;
    width: 100%;
    padding-left: 0.35em;
    background-color: #FFF;
}

#footer ul
{
    display: inline-block;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-left: 0em;
    background-color: #FFF;
}

#footer li
{
    display: block;
    text-align: center;
    background-color: #FFF;
}

#footer li a
{
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 300;
    color: rgba(0,0,0,.8);
    font-size: 12px;
    background-color: #FFF;
}

#footer a:hover
{
    text-decoration: none;
    font-weight:bold;
}

div.carrito-compra {
    position: fixed;
    right: 14em;
    top: 1.4em;
    z-index: 999;
}

div.carrito-compra div img {
    width: 1.7em;
    padding: 0em 1.5em;
    height: 1.7em;
}

div.carrito-compra div.second {
    font-size: 12px;
    text-decoration: underline;
    text-align: left;
    width: 150px;
    display: none;
}

div.carrito-compra div.second a {
    font-size: 12px;
    font-weight: bold;
    color: rgba(1,1,1,1);
}

div.carrito-compra div.first {
    z-index: 999;
}

div.carrito-compra:hover div.first {
    display: none;
}

div.carrito-compra:hover div.second {
    display: inline-block;
}

