.container {
    padding-left: 20px;
    padding-right: 20px;
}

.content{
    width: 100%;
}

.content .body{
    width: 65%;
}

.row {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}

.description {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
}

.row .description {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.boxA,
.boxB,
.boxC
{
    background: #FFF;
    width: 264px;
    padding: 35px 35px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media handheld, only screen and (max-width: 767px) {

    body {
        font-size: 16px;
        -webkit-text-size-adjust: none;
    }

    .row, body, .container {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row .description {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}