# Archivos de bootstrap (compilan las clases más usadas en Symfony2)
app/bootstrap*

# Directorios de Symfony
vendor/*
*/logs/*
*/cache/*
web/bundles/*
web/css/*

# Archivos de configuración
# app/config/parameters.yml
# /composer.phar

# Archivos de entornos de desarrollo y editores de texto
.buildpath
.idea
.project
.settings