# Archivos de bootstrap (compilan las clases más usadas en Symfony2)
app/bootstrap*

# Directorios de Symfony
vendor/*
*/logs/*
*/cache/*
web/bundles/*
web/css/*
web/images/*

# Archivos de configuración
# app/config/parameters.yml

# Archivos de entornos de desarrollo y editores de texto
.buildpath
.idea
.project
.settings