#contenidocuenta
{
    position: absolute;
    top: 15em;
    width: auto;
    float: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8em;
}

#menu
{
    float: left;
    width: 300px;
    padding: 0em 0em;
    padding-bottom: 5em;
}

#menu li
{
    border-top: 1px solid rgba(0,0,0,0.5);
}

#menu li:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

#menu li a
{
    text-align: center;
    text-decoration:  none;
    color: rgba(0,0,0,.8);
}

#main
{
    float: left;
    width: 450px;
    padding-left: 6em;
    text-align: left;
}

#main p strong
{
    text-transform: uppercase;
    font-size: 13px;
}

#main p.small
{
    font-size: 12px;
}

#main ul
{
    padding-left: 0em;
    display: inline-block;
}

#main li
{
    display: block;
    float: left;
    text-align: center;
    padding-right: 2em;
}

#enlacesmain a.boton {
    padding-left: 0px;
    text-align: center;
    font-size: 0.85em;
    cursor: pointer;
    color: #FFF;
    width: 140px;
    background: #000;
    border: 2px solid #999999;
}

#enlacescuenta ul
{
    padding-left: 0em;
    display: inline-block;
}

#enlacescuenta li
{
    display: block;
    float: left;
    text-align: center;
    padding-right: 2em;
}

#enlacescuenta
{
    display: block;
    float: left;
    text-align: center;
    padding-right: 2em;
}

#enlacescuenta input.boton
{
    padding: 10px;
    font-size: 0.85em;
    width: 149px;
    cursor: pointer;
    color: #FFF;
    background: #000;
}

#enlacescuenta input[type="submit"]:hover
{
    font-weight: bold;
}

#enlacescuenta1 a.boton {
    padding-left: 0px;
    text-align: center;
    font-size: 0.85em;
    cursor: pointer;
    color: #FFF;
    width: 140px;
    background: #000;
    border: 2px solid #999999;
}

#formulariomodificacion
{
    float: left;
    width: 300px;
    display: block;
}

#formulariomodificacion input[type="text"], #formulariomodificacion input[type="email"], #formulariomodificacion input[type="password"]
{
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 400px;
}

#formulariomodificacion input[type="submit"]
{
    color: #FFF;
}

#formulariomodificacion ul
{
    padding-left: 0em;
}

#formulariomodificacion li
{
    padding-bottom: 1em;
}

#form_password li
{
    padding-left: 0em;
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    color: #FF0000;
    font-weight: bold;
}

