<!DOCTYPE html>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('icon.ico') }}" />
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>