#menu
{
    float: left;
    width: 300px;
    padding: 0em 0em;
    padding-bottom: 5em;
}

#menu li
{
    border-top: 1px solid rgba(0,0,0,0.5);
}

#menu li:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

#menu li a, #menu li span
{
    text-align: center;
    text-decoration:  none;
    color: rgba(0,0,0,.8);
}

#main
{
    float: left;
    width: 500px;
    padding: 5px 5px;
    text-align: right;
}

.main
{
    float: left;
    width: 500px;
    padding: 5px 5px;
    text-align: right;
}

.selects
{
    width: 400px;
    height: 500px;
    padding: 5px 5px;
    padding-left: 65px;
    text-align: center;
}

.selects img
{
    width: 400px;
    height: 400px;
    padding: 5px 5px;
}

.options-selects
{
    float: left;
    width: 150px;
    padding: 5px 5px;
    padding-left: 50px;
    text-align: left;
}

.index {
    display: block;
}

.botones {
    display: none;
}

.bolsillos {
    display: none;
}

.cremallera {
    display: none;
}

.cuellos {
    display: none;
}

.larguras {
    display: none;
}

.mangas {
    display: none;
}