#menu
{
    float: left;
    width: 300px;
    padding: 0em 0em;
    padding-bottom: 5em;
}

#menu li
{
    border-top: 1px solid rgba(0,0,0,0.5);
}

#menu li:last-child {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

#menu li a, #menu li span
{
    text-align: center;
    text-decoration:  none;
    color: rgba(0,0,0,.8);
}

#main
{
    float: left;
    width: 500px;
    padding: 5px 5px;
    text-align: right;
}

.main
{
    float: left;
    width: 500px;
    padding: 5px 5px;
    text-align: right;
}

.selects
{
    width: 400px;
    height: 500px;
    padding: 5px 5px;
    padding-left: 65px;
    text-align: center;
}

.selects img
{
    width: 400px;
    height: 400px;
    padding: 5px 5px;
}

.options-selects
{
    float: left;
    width: 250px;
    padding: 5px 5px;
    padding-left: 50px;
    text-align: left;
}

#descripcion p {
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#formularioopciones ul {
    padding-left: 0.5em;
}

#formularioopciones li {
    padding-bottom: 0.6em;
}

#formularioopciones label {
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

#formularioopciones input[type="submit"]
{
    color: #FFF;
}

#precio
{
    height: 35px;
    padding-left: 0em;
    text-align: left;
    padding-top: 0em;
    padding-bottom: 0em;
}

input.boton {
    padding: 10px;
    margin-top: 5px;
    font-size: 0.9em;
    width: 148px;
    cursor: pointer;
    background: #000;
}

input[type="submit"]:hover
{
    font-weight: bold;
}

input[type="text"] {
    padding: 7px;
    margin-top: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 125px;
}

.index {
    display: block;
}

.botones, .bolsillos, .larguras, .mangas, .lazos, .dibujos, .nombres {
    display: none;
}

.azul, .rojo, .verde, .blanco, .naranja, .rosa, .marron {
    display: none;
}

.botones_rosa, .botones_azul, .bolsillos_rosa, .mangas_rosa, .larguras_verde, .mangas_lazos, .bolsillos_verde, .bolsillos_mangas, .dibujos_azul, .larguras_azul, .nombres, .bolsillos_nombres, .nombres_rosa, .bolsillos_nombres_rosa {
    display: none;
}

@media only screen and (max-width: 906px) {
    .index {
        padding-left: 0em;
        height: 300px;
    }
    .selects img
    {
        width: 300px;
        height: 300px;
        padding: 5px 5px;
    }
    #menu {
        padding-bottom: 1em;
    }
}