{% extends '::base.html.twig' %}

{% block title %}Cerrar sesión - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
    '@WebBundle/Resources/public/css/frontend.css'
    '@UsuarioBundle/Resources/public/css/registro.css'
    output='css/cerrarsesion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menucuenta.html.twig' %}
    <div id="contenido">
        <p><strong>No se ha podido realizar tu petición. Inténtalo de nuevo.</strong></p>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}