{% extends '::base.html.twig' %}

{% block title %}Regístrate - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
    '@WebBundle/Resources/public/css/frontend.css'
    '@UsuarioBundle/Resources/public/css/registro.css'
    output='css/iniciarsesion.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    <div id="contenido">
        <div id="formularioregistro1">
            <form action="{{ path('web_homepage') }}" method="post">
                <ul>
                    <li><label for="email">Nombre</label></li>
                    <li><input type="text" id="email" name="_email"/></li>
                    <li><label for="email">Email</label></li>
                    <li><input type="text" id="email" name="_email"/></li>
                    <li><label for="password">Contraseña</label></li>
                    <li><input type="password" id="password" name="_password" /></li>
                </ul>
            </form>
        </div>
        <div id="formularioregistro2">
            <form action="{{ path('web_homepage') }}" method="post">
                <ul>
                    <li><label for="email">Direccion</label></li>
                    <li><input type="text" id="email" name="_email"/></li>
                    <li><label for="password">Código postal</label></li>
                    <li><input type="password" id="password" name="_password" /></li>
                    <li><input class="boton" type="submit" name="login" value="Finalizar" /></li>
                </ul>
            </form>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}