{% extends '::base.html.twig' %}

{% block title %}Guía de compra - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
                   '@WebBundle/Resources/public/css/frontend.css'
        output='css/guiacompra.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenidoTop">
        <div id="contenedorprincipal">
            <div id="description">
                <p><strong>1. Seleccione los artículos del carrito que desee comprar.</strong> Puede seleecionar todos los artículos que quiera y eliminar del carrito todos los artículos que ya no desee comprar.</p>
                <p><strong>2. Realizar el pedido será el siguiente paso.</strong> Debe confirmar que todos sus datos estén bien y puede modificar su pedido todas las veces que quiera antes de finalizarlo.</p>
                <p><strong>3. Finalizar pedido.</strong> Después de asegurarse de que todo es correcto, finalizará su pedido. Se generará una factura que podrá consultar en su cuenta todas las veces que quiera.</p>
            </div>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}