{% extends '::base.html.twig' %}

{% block title %}Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
                   '@WebBundle/Resources/public/css/frontend.css'
    output='css/homepage.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- imagen de fondo -->
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenido">
        <div id="description">
            <h2>Título descripción página</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
        <div id="pasos">
            <h2>Pasos</h2>
            <ul>
                <div class="boxA">
                    <h3>Paso 1</h3>
                    <!-- incluir foto -->
                    <p>Descripcion paso 1</p>
                </div>
                <div class="boxB">
                    <h3>Paso 2</h3>
                    <!-- incluir foto -->
                    <p>Descripcion paso 2</p>
                </div>
                <div class="boxC">
                    <h3>Paso 3</h3>
                    <!-- incluir foto -->
                    <p>Descripcion paso 3</p>
                </div>
            </ul>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}