{% extends '::base.html.twig' %}

{% block title %}Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
                   '@WebBundle/Resources/public/css/frontend.css'
    output='css/homepage.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- imagen de fondo -->
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menuprincipal.html.twig' %}
    <div id="contenidoTop">
        <div id="contenedorprincipal">
            <div id="pasos">
                <ul>
                    <div class="boxA">
                        {% image output="images/web/paso1.png"
                        '@WebBundle/Resources/public/images/paso1.png'
                        %}
                        <img src="{{ asset_url }}" alt=""/>
                        {% endimage %}
                    </div>
                    <div class="boxA">
                        {% image output="images/web/paso2.png"
                        '@WebBundle/Resources/public/images/paso2.png'
                        %}
                        <img src="{{ asset_url }}" alt=""/>
                        {% endimage %}
                    </div>
                    <div class="boxA">
                        {% image output="images/web/paso3.png"
                        '@WebBundle/Resources/public/images/paso3.png'
                        %}
                        <img src="{{ asset_url }}" alt=""/>
                        {% endimage %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}