{% extends '::base.html.twig' %}

{% block title %}Privacidad - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@WebBundle/Resources/public/css/informacion.css'
        output='css/privacidad.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menufooter.html.twig' %}
    <div id="contenidoTop">
        <div id="texto">
            <p>Todo usuario tiene derecho a la protección de sus datos personales. Txikitwo respeta el derecho de los usuarios a la información sobre la recogida y tratamiento de sus datos personales. Txikitwo garantiza que los datos personales son tratados de forma correcta y lícita, en conformidad con las buenas prácticas. Este sitio web está concebido para que la recogida y tratamiento de  sus datos personales sea la estrictamene necesaria y no exceda la intención original para la que son recogidos.</p>
            <p><strong>Tratamiento de datos personales.</strong></p>
            <p>Sus datos personales son recogidos y tratados por Txikitwo solo para fines estrictamente ligados al uso de este sitio web, sus servicios y adquisición de productos. No obstante, sus datos personales pueden también ser utilizados para otras operaciones de procesamiento que estén encuadradas dentro de los límes de estos usos:</p>
            <p>- Siempre que ejecuta un proceso de compra de productos vendidos en este sitio web, recogemos sus datos personales (ejemplo: password, talla, dirección e-mail, dirección de entrega) en el formulario de compra, solo a efectos de la venta, separación y envío de los productos pedidos.</p>
            <p>- Siempre que solicita la asistencia de servicio recogemos sus datos personales (ejemplo: nombre, e-mail) con el objetivo de ofrecerle los servicios de Contacto de la tienda online que sean relevantes para este sitio web y para la asistencia.</p>
            <p>- Siempre que graba una dirección de entrega, recogemos y guardamos sus datos personales con el fin de simplificar la elaboración de sus futuros pedidos.</p>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}