{% extends '::base.html.twig' %}

{% block title %}Términos de uso - Txikitwo{% endblock %}
{% block stylesheets %}
    {% stylesheets '@WebBundle/Resources/public/css/homepage.css'
        '@WebBundle/Resources/public/css/frontend.css'
        '@WebBundle/Resources/public/css/informacion.css'
        output='css/terminosdeuso.css' %}
    <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% include ':includes:header.html.twig' %}
    {% include ':includes:menufooter.html.twig' %}
    <div id="contenido">
        <div id="texto">
            <p>La página aplicación web Txikitwo se destina únicamente a uso particular por lo que la reproducción, transferencia, distribución o almacenamiento de los contenidos de la tienda online. Sin autorización previa por escrito, está prohibida para cualquier otro fin que no sea el uso estrictamente personal.</p>
            <p><strong>Política comercial.</strong></p>
            <p>En el caso de que la información presentada no corresponda a las características del producto, asiste al Cliente el derecho a la resolución del contrato de compraventa en los términos legales aplicables. Las fotografías presentadas en la aplicación web son meramente ilustrativas, por eso recomendamos que consulte detenidamente el detalle del producto para mejor información acerca de las respectivas características de los artículos que pretende adquirir. Los precios y especificaciones de los productos están sujetos a alteración sin aviso previo.</p>
            <p>La validación del pedido de compra o pedido supone que el “Comprador” tiene conocimiento y acepta los términos de uso. Todos los datos registrados por Txikitwo constituyen prueba del conjunto de transacciones efectuadas entre la “Vendedora” y el “Consumidor Final”, siendo responsabilidad de Txikitwo archivar el documento electrónico en el que se formalice el contrato, obligándose a mantenerlo accesible.</p>
            <p><strong>Obligaciones de los clientes y usuarios.</strong><p>
            <p>Cualquier visitante de la aplicación está obligado a cumplir y respetar las presentes condiciones generales, en particular, observando las siguientes obligaciones:</p>
            <p>- Está prohibido introducir, almacenar o difundir a través del sitio contenidos difamatorios, obscenos, injuriosos, xenófobos y/o de cualquier otra índole que violen los principios generales de derecho y orden público;</p>
            <p>- Guardar, y no divulgar, su contraseña de entrada en el site para impedir que terceros accedan a su cuenta y datos personales;</p>
            <p>- No utilizar identidades falsas;</p>
            <p>- Facilitar sus datos personales y direcciones correctos de forma que se puedan procesar debidamente los pedidos;</p>
            <p><strong>Realización de pedido online.</strong></p>
            <p>Para efectuar un pedido es necesario que el “Usuario” disponga de una cuenta de correo electrónico válida y de uso frecuente y que se registe rellenando el formulario disponible online. Después del registro, basta introducir en la cesta de compra virtual todos los productos que el “Consumidor Final” pretenda adquirir, siguiendo todos los pasos de la compra para que la misma sea finalizada con éxito.</p>
            <p><strong>Condiciones de pago y garantías de seguridad.</strong></p>
            <p>Podrá pagar sus productos a contrareembolso desde su propia casa cuando el pedido le llegue.</p>
            <p><strong>Envío de los productos y entregas.</strong></p>
            <p>Los productos pedidos en la tienda online Txikitwo serán enviados y entregados en días hábiles, de lunes a viernes.</p>
            <p>Sólo podemos garantizar la correcta entrega de un pedido si la dirección de envío de los productos ha sido correctamente indicada por el “Usuario”, localizándose esa dirección en una casa o en una oficina situada en España.</p>
            <p>Una entrega se considera efectuada o un producto se considera entregado con la firma del recibo de entrega en la dirección acordada.</p>
            <p><strong>Gastos de envío y plazos de entrega.</strong></p>
            <p>No hay gastos de envío en ninguno de los pedidos. Las entregas serán gratuitas en España.</p>
            <p>Tras registrar su pedido, Txikitwo se compromete a proceder al envío e un plazo de 1 semana, contando solo días hábiles de entrega.</p>
            <p><strong>Cambios y devoluciones de productos.</strong></p>
            <p>Todos los productos son identificados individualmente con una etiqueta de seguridad. En el caso de que pretenda devolver el producto adquirido, no retire la etiqueta y el sello de seguridad del producto adquirido.</p>
            <p>En el caso de que decida devolver los productos comprados, Txikitwo tiene el derecho de no aceptar la devolución de productos en el caso de que las prendas devueltas no tengan la etiqueta o sello de seguridad correspondiente, o cuando las etiquetas hayan sido dañadas o alteradas con respecto a su estado original.</p>
            <p>Tras la recepción del pedido, el “Comprador” dispone de un plazo de 30 días para devolver o cambiar su(s) artículo(s).</p>
        </div>
    </div>
    {% include ':includes:footer.html.twig' %}
{% endblock %}