#mainfotos
{
    float: left;
    width: 800px;
    padding: 5px 5px;
    text-align: right;
}

#cuadrobusqueda
{
    padding-bottom: 2em;
}

#enlacebusqueda
{
    width: 145px;
    background: #000;
    border: 2px solid #999999;
    color: #FFF;
}

