<div id="menu2">
    <ul>
        <li><a href="{{ path('web_homepage') }}">inicio</a></li>
        <li><a href="">datos personales</a></li>
        <li><a href="">mis pedidos</a></li>
    </ul>
</div>