<div id="menu2">
    <ul>
        <li><a href="{{ path('web_terminosdeuso') }}">términos de uso</a></li>
        <li><a href="{{ path('web_privacidad') }}">privacidad</a></li>
        <li><a href="{{ path('web_contacto') }}">contacto</a></li>
    </ul>
</div>