#pedido-select {
    padding-left: 4em;
}

#imagenpersonalizada
{
    float: left;
    width: 150px;
    padding-top: 1em;
}

#imagenpersonalizada img {
    height: 100px;
    width: 100px;
}

#datospersonalizacion
{
    float: left;
    width: 300px;
    padding-bottom: 2.5em;
}

#datospersonalizacion ul
{
    padding-left: 0em;
}

#datospersonalizacion li {
    font-family: "HelveticaNeueLTCom-Roman", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

#enlacepedido
{
    float: left;
    padding-top: 1em;
}

#enlacepedido1
{
    padding: 10px;
    background: #000;
    border: 2px solid #999999;
}

#enlacepedido2
{
    padding-top: 1em;
}

#enlacepedido input[type="submit"]
{
    color: #FFF;
}

#compraspendientes
{
    float: left;
    width: 663px;
}

#contadorpendientes
{
    float: left;
    width: 350px;
    padding-left: 5em;
    padding-top: 1.5em;
}

input.boton {
    padding: 10px;
    font-size: 0.85em;
    width: 149px;
    cursor: pointer;
    background: #000;
}

input[type="submit"]:hover
{
    font-weight: bold;
}

a.boton {
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 0.85em;
    width: 145px;
    cursor: pointer;
    color: #FFF;
}

a:hover
{
    font-weight: bold;
}





